<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: #312f2f;
}
html , body{
    height: 100%;
    width: 100%;
    background-image: url(https://img.freepik.com/free-vector/cloud-background-pastel-paper-cut-design-vector_53876-135919.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1722729600&semt=ais_hybrid);
    background-position: center;
    /* background-size: cover; */

}

.main-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    background-color: #E9F1F3;
    width: 320px;
    height: 450px;
    z-index: 20;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper-body {
    display: grid;
    gap: 10px;
}
.search {
    display: flex;
    justify-content: center;
    gap: 8px;
    border-radius: 30px;
}
.search input {
    padding: 2px 14px;
    font-size: 15px;
    height: 40px;
    width: 100%;
    border-radius: 30px;
    outline: none;
}
.search i {
    background-color: white;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 50%;
    align-content: center;
    cursor: pointer;
    transition: 0.3s all;
}
.search i:hover {
    background-color: rgb(209, 209, 209);
}
#city-name {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    margin-top: 14px;
}

#weather-icon {
    display: grid;
    justify-items: center;
}
#weather-icon img {
    width: 50%;
}
#temperature {
    font-size: 50px;
    text-align: center;
}

.extra-info {

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #babcbd;
    /* background-color: #000fff; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.column {
    text-align: center;
}
.column img {
    width: 28px;
}
.column p {
    font-size: 14px;
}
#pressure-img {
    mix-blend-mode: darken;
}
#wind, #humidity {
    font-size: 16px;
}

.p-30 {
    padding: 30px;
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: #312f2f;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.main-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    background-color: #E9F1F3;
    width: 320px;
    height: 450px;
    z-index: 20;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper-body {
    display: grid;
    gap: 10px;
}
.search {
    display: flex;
    justify-content: center;
    gap: 8px;
    border-radius: 30px;
}
.search input {
    padding: 2px 14px;
    font-size: 15px;
    height: 40px;
    width: 100%;
    border-radius: 30px;
    outline: none;
}
.search i {
    background-color: white;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 50%;
    align-content: center;
    cursor: pointer;
    transition: 0.3s all;
}
.search i:hover {
    background-color: rgb(209, 209, 209);
}
#city-name {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    margin-top: 14px;
}

#weather-icon {
    display: grid;
    justify-items: center;
}
#weather-icon img {
    width: 50%;
}
#temperature {
    font-size: 50px;
    text-align: center;
}

.extra-info {

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #babcbd;
    /* background-color: #000fff; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.column {
    text-align: center;
}
.column img {
    width: 28px;
}
.column p {
    font-size: 14px;
}
#pressure-img {
    mix-blend-mode: darken;
}
#wind, #humidity {
    font-size: 16px;
}

.p-30 {
    padding: 30px;
>>>>>>> 0ed161c6a4a20bce4a7cd16fd4535a1f19f0ef81
}